body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell','Fira Sans','Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

Comment Code
code {
    font-family: source-code-pro, Menlo, Monaco, Cansolas, 'Courier New',
    monospace;
}